@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./pages/functioning";
@import "./pages/showcase";
@import "./layouts/footer";
@import "./pages/mheader";
@import "./pages/pheader";
@import "./pages/location";
@import "./base/typography";
@import "./base/reset-browser-style";
@import "./base/breakpoints";
@import "./pages/restaurants-cards";
  
  .restaurants-card__container {
    position: relative;
  }
  
  .restaurants-card__float {
    position: absolute;
    top: 15px;
    right: 65px;
    background-color: #99E2D0;
  }
  
  .menu__banner {
    width: 300px;
    height: 220px;
  }
  
  .restaurants__cards {
    width:100%;
    padding-left:0px;
  }
  
  /*.restaurants-page__title {
    display: flex;
  }*/