%shadow {
    box-shadow: 0px 1px 5px black;
}

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;



body {
    background-color: white;
}

.restaurants-card {
    width: 1000px;
}

.restaurants-card__image {
    width: 1000px;
}

.img {
    width:500px;
}