/* Animation pour le hover du submenu pour page-rest / créer une deuxième icone ?*/
/*.plate__validation {
    position:relative;
}*/

.fas.fa-check {
    background-color: white;
    border-radius: 100px;
    padding: 4px;
    color: $tertiary-color;
    transform: translateX(50%) rotate(180deg);
    transition: transform 500ms linear;
    /*position:absolute;
    right: 0%;*/
}

.plate:hover {

    .fas.fa-check {
        transform: translateX(0%) rotate(360deg);
        transition: transform 500ms linear;
    }
}

/* Coeur qui se remplissent */

.fill-heart {
    position: relative;
}

.far.fa-heart {
    position: absolute;
    opacity: 1;
    right: 20px;
    bottom: 12px;
    transition: opacity 1s ease-in-out;
}

.fas.fa-heart {
    position: absolute;
    opacity: 0;
    color: $secondary-color;
    right: 20px;
    bottom: 12px;
    transition: opacity 1s ease-in-out;
}

.fill-heart:hover,
.fill-heart:active {
    .fas.fa-heart {
        opacity: 1;
    }

    .far.fa-heart {
        opacity: 0;
    }
}

.fa-stack {
    line-height: 0px;
}

/* Au survol, la couleur de fond des boutons principaux devra légèrement s’éclaircir. L’ombre portée devra également être plus visible. */
/* Ici uniquement ce qui affecte le hover, les propriétés du bouton à l'état inactif se trouvent dans button.scss */

.main-button:hover {
    background-image: linear-gradient(to top,
            lighten(rgba(147, 86, 220, 1), 5%) 0%,
            lighten(rgba(179, 92, 220, 1), 5%) 25%,
            lighten(rgba(207, 100, 220, 1), 5%) 50%,
            lighten(rgba(232, 110, 219, 1), 5%) 75%,
            lighten(rgba(255, 121, 218, 1), 5%) 100%);
    box-shadow: 0px 4px 10px darken(rgba(197,197,197,1), 15%);
    transition-duration: 0.25s;
}

/* À l’arrivée sur la page, les plats devront apparaître progressivement avec un léger
décalage dans le temps. Ils pourront soit apparaître un par un, soit par groupe
“Entrée”, “Plat” et “Dessert”. Un exemple de l’effet attendu est fourni. */

.FadeIn-A {
    animation: fadein 0.5s;
}
.FadeIn-A1 {
    animation: fadein 1.25s;
}
.FadeIn-A2 {
    animation: fadein 1.5s;
}
.FadeIn-A3 {
    animation: fadein 1.75s;
}
.FadeIn-B {
    animation: fadein 2.5s;
}
.FadeIn-B1 {
    animation: fadein 3.25s;
}
.FadeIn-B2 {
    animation: fadein 3.5s;
}
.FadeIn-B3 {
    animation: fadein 3.75s;
}
.FadeIn-C {
    animation: fadein 4.5s;
}
.FadeIn-C1 {
    animation: fadein 5.25s;
}
.FadeIn-C2 {
    animation: fadein 5.5s;
}
.FadeIn-C3 {
    animation: fadein 5.75s;
}