html {
    font-size : 15px;
    font-family: 'Roboto', sans-serif;
    
    @include respond-to('tablet') {
        font-size : 17px;
    }

    @include respond-to('desktop') {
        font-size : 12px;
    }
}

.header__logo, .footer__logo, .menu__header__name, .restaurant-name {
    font-family: 'Shrikhand', cursive;
}

h1, h2 {
    font-size: 24px;

    @include respond-to('tablet') {
        font-size : 26px;
    }

    @include respond-to('desktop') {
        font-size : 21px;
    }
}

h3 {
    font-size: 17px;

    @include respond-to('tablet') {
        font-size : 19px;
    }

    @include respond-to('desktop') {
        font-size : 14px;
    }
}

h4 {
    font-size: 16px;

    @include respond-to('tablet') {
        font-size : 18px;
    }

    @include respond-to('desktop') {
        font-size : 13px;
    }
}

* {
    box-sizing: border-box;
    cursor: pointer;
}

