.functioning {
    padding-left:$sideways-light-space;
    padding-right:$sideways-light-space;
    position: relative;
    margin-bottom:$section-space;

    .main-page__title {
        padding-top:$section-space;
    }
    
    &__step {
        border-radius: 15px;
        background-color: $reservez-color;
        display: flex;
        margin-top: 10px;
        margin-bottom:10px;
        padding-top:20px;
        padding-bottom:20px;
    }

    &__step--different-color {
        background-color: #f5edff;
    }

    &__list {
        padding-left: 0px;
    }

    &__icon {
        padding-left:40px;
        padding-top: 2px;
        padding-bottom: 2px;    
    }

    i.fas.fa-solid.fa-store {
        color: $primary-color;
    }
    
    &__text {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 15%;
        padding-right:15%;
    }

    &__order {
        background-color: $primary-color;
        border-radius: 15px;
        position: absolute;
        left:3.5%;
        padding-left:7px;
        padding-right:7px;
        padding-top:2px;
        padding-bottom:2px;
        color:white;
    }
      
}
