.functioning {
    padding-left: $sideways-light-space;
    padding-right: $sideways-light-space;
    position: relative;
    margin-bottom: $section-medium-space;

    .main-page__title {
        padding-top: $section-medium-space;
        padding-bottom: $section-light-space;
    }

    &__step {
        border-radius: 15px;
        background-color: $reservez-color;
        display: flex;
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        box-shadow: 0px 2px 13px -7px #000, 0px 3px 14px -3px rgba(229,229,229,0);
    }

    &__step--different-color {
        background-color: #f5edff;
    }

    &__list {
        padding-left: 0px;
    }

    &__icon {
        padding-left: 40px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    i.fas.fa-solid.fa-store {
        color: $primary-color;
    }

    &__text {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 15%;
        padding-right: 15%;
        font-weight: bold;
    }

    &__order {
        background-color: $primary-color;
        border-radius: 15px;
        position: absolute;
        left: 3.5%;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 1px;
        padding-bottom: 1px;
        color: white;
    }

}