.location {
    text-align:center;
    padding-top: 15px;
    padding-bottom: 15px;
    background: linear-gradient(180deg, rgba(206,206,206,1) 0%, rgba(213,213,213,1) 4%, rgba(234,234,234,1) 8%);
    p {
        margin-top:0px;
        margin-bottom:0px;
    }
}