.menu {
    box-sizing:content-box;

    &__submenu {
        background-color: $reservez-color;
        width: 100%;
        padding-left: $sideways-light-space;
        padding-right: $sideways-light-space;
        padding-top: $section-medium-space;
        border-radius: 20px 20px 0px 0px;
    }


}