.menu {
    box-sizing: content-box;

    &__submenu {
        width: 100%;
        padding-left: $sideways-light-space;
        padding-right: $sideways-light-space;

        .underline-title {
            text-transform: uppercase;
            position: relative;
            padding-bottom: 22px;
            padding-top: $section-medium-space;

            .underline {
                position: absolute;
                background-color: $tertiary-color;
                width: 45px;
                height: 4px;
                top: 63px;
            }
        }
    }
}

.menu-page {
    background-color: $reservez-color;
    border-radius: 30px 30px 0px 0px;
    z-index: 1;
    position: relative;
    margin-top: -4rem;
}

.plate {
    background-color: white;
    border-radius: 10px;
    display: flex;
    margin-bottom: $submenu-smaller-space;
    padding-left: $sideways-light-space;
    justify-content: space-between;

    .plate__info {
        padding-top: $sideways-light-space;
        padding-bottom: $sideways-light-space;
        width: 80%;
    }

    .plate__title {
        padding-bottom: 5px;
    }

    .plate__price {
        display: flex;
        align-items: flex-end;
        padding-top: $sideways-light-space;
        padding-bottom: $sideways-light-space;
        padding-right: $sideways-light-space;
    }

    .plate__validation {
        display: none;
    }

    .plate:hover {
        background-color: red;
    }
}

.plate:hover {

    justify-content:start;

    .plate__validation {
        display: block;
        background-color: $tertiary-color;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: $sideways-light-space;
        padding-bottom: $sideways-light-space;
        border-radius: 0px 10px 10px 0px;
    }
}