.menu {
    &__banner {
        width: 100%;
    }
}

.menu-page__header {
    display: flex;
    padding-left: $sideways-light-space;
    padding-right: $sideways-light-space;
    justify-content: space-between;
    padding-top: $section-medium-space;
    padding-bottom: $section-medium-space;
    align-items: center;
}
