.menu {
    &__banner {
        width: 100%;

        @include respond-to('desktop') {
        height: 500px;
        object-fit: cover;
        }
    }
}

.menu-page__header {
    display: flex;
    padding-left: $sideways-light-space;
    padding-right: $sideways-light-space;
    justify-content: space-between;
    padding-top: $section-medium-space;
    align-items: center;
}
