.menu {
    box-sizing: content-box;

    &__dishes-list {
        @include respond-to('desktop') {
            display: flex;
            justify-content: space-between;
        }
    }

    &__submenu {
        width: 100%;
        padding-left: $sideways-light-space;
        padding-right: $sideways-light-space;

        .underline-title {
            text-transform: uppercase;
            position: relative;
            padding-bottom: 22px;
            padding-top: $section-medium-space;

            @include respond-to('desktop') {
                padding-bottom: $section-light-space;
                padding-top: $section-light-space;
            }

            .underline {
                position: absolute;
                background-color: $tertiary-color;
                width: 45px;
                height: 4px;
                top: 63px;
                left: 0px;

                @include respond-to('desktop') {
                    top: 39px;
                }
            }
        }
    }
}

.menu-page {
    background-color: $reservez-color;
    border-radius: 30px 30px 0px 0px;
    z-index: 1;
    position: relative;
    margin-top: -4rem;

    @include respond-to('tablet') {
        border-radius: 60px 60px 0px 0px;
    }
}

.plate {
    background-color: white;
    border-radius: 10px;
    display: flex;
    margin-bottom: $submenu-smaller-space;
    padding-left: $sideways-light-space;
    justify-content: space-between;

    @include respond-to('desktop') {
        width: 30%;
        padding-left: 3%;
        margin-bottom: 0px;
    }

    .plate__info {
        padding-top: $sideways-light-space;
        padding-bottom: $sideways-light-space;
        width: 80%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @include respond-to('tablet') {
            padding-top: 3%;
            padding-bottom: 3%;
        }

        @include respond-to('desktop') {
            padding-top: 3%;
            padding-bottom: 3%;
        }
    }

    .plate__title {
        padding-bottom: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .plate__description {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .plate__price {
        display: flex;
        align-items: flex-end;
        padding: $sideways-light-space;

        @include respond-to('desktop') {
            padding-top: 3%;
            padding-bottom: 3%;
        }
    }

    .plate__validation {
        display: none;
    }

    .plate:hover {
        background-color: red;
    }
}

.plate:hover {

    justify-content: start;

    .plate__validation {
        display: block;
        background-color: $tertiary-color;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: $sideways-light-space;
        padding-bottom: $sideways-light-space;
        border-radius: 0px 10px 10px 0px;

        @include respond-to('desktop') {
            padding-top: 1%;
            padding-bottom: 1%;
        }
    }
}