.header__logo {
    text-align: center;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 26px;
    width: 100%;

    @include respond-to('tablet') {
        background-color: blue;
    }

    @include respond-to('desktop') {
        background-color: yellow;
    }
}