.pheader {
    background-color: white;
    margin: auto;
    position: relative;
        &__navbar {
            display: flex;
            padding-left: $sideways-light-space;
        }
}

i.fas.fa-arrow-left {
    font-size : 19px;
    padding-top : 24px;
    padding-right: 10px;
    position: absolute;
}