.restaurants {
    padding-left:$sideways-light-space;
    padding-right:$sideways-light-space;
    background: linear-gradient(90deg, rgba(246,246,246,1) 0%, rgba(242,242,242,1) 48%, rgba(246,246,246,1) 100%);
    &__cards {
        margin-top: 0px;
        margin-bottom: 0px;
        width:100%;
        padding-left:0px;
        padding-bottom: $section-medium-space;
    }
}

.main-page__title {
    padding-top: $section-medium-space;
    padding-bottom: $section-light-space;
}

.restaurants-card {

    background-color:white;
    margin-bottom: $section-light-space;
    border-radius: 20px 20px 20px 20px;
    /*position: relative;  ajouttest*/

    &__container {
        position: relative;
    }

    &__image {
        object-fit: cover;
        width:100%;
        height: 200px;
        border-radius: 20px 20px 0px 0px;
    }

    &__float {
        position: absolute;
        top: 14%;
        right: 6%;
        color: #008766;
        background-color: #99E2d0;
        border-radius: 3px;
        padding: 0.5rem;
        text-align: center;
        padding-top: 5px;
    }

    &__block {
        display:flex;
        padding:3% 5%;
        justify-content: space-between;
    }

    &__name {
        padding-bottom:3px;
    }
}

.zoom-img {
    object-position: 50% 100%;
}

.zoom-img-note {
    object-position: 50% 62%;
}

.fill-heart {
    font-size: 23px;
    padding-top: 8px;
}