.showcase {
    text-align:center;
    background-color: $fourth-color;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: $section-space;
    
    .main-page__title {
        padding-top: $section-space;
    }

    &__text {
        margin-left:10%;
        margin-right:10%;
    }

    &__button {
        margin-bottom: 10px;
        p {
            margin-top: 0px;
            margin-bottom: 0px;
        }
    }
}

