.showcase {
    text-align: center;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: $section-medium-space;
    background-color: $reservez-color;

    @include respond-to('desktop') {
        padding-bottom: 0px;
    }

    &__title {
        margin-left: 19%;
        margin-right: 19%;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    &__text {
        margin-left: 15%;
        margin-right: 15%;
    }
}