/* Keyframes pour le loading-spinner */
@keyframes rotate {
    from{
      -webkit-transform: rotate(0deg);
    }
    to{
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes loader {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }

/*Keyframes pour l'apparition progresse sur la page-rest */

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}