/* Animation N°3 : Loading Spinner */
@keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes loader {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* Animation N°4 : Keyframes pour l'apparition progressive sur la page-rest */

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* Animation N°5 : Apparition d'un bouton */

@keyframes full-rotation {
	0% {
		opacity: 0;
		transform: translateX(20px) rotate(360deg);
	}

	100% {
		opacity: 1;
		transform: translateX(0) rotate(0deg);
	}
}

@keyframes appearing-from-right {
	0% {
		opacity: 0;
		transform: rotateY(-100deg);
		transform-origin: right;
	}

	100% {
		opacity: 1;
		transform: rotateY(0);
		transform-origin: right;
	}
}

@keyframes plateprice {
	0% {
		opacity: 1;
		transform: translateX(60px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes plateprice-tablet {
	0% {
		opacity: 1;
		transform: translateX(120px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}