/* Mixin for Breakpoints */
@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
      @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
      }
    }
   
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }

  /* @include respond-to('tablet') {
        background-color: blue;
      } */

/* Mixin pour box-shadow autours des éléments de functioning et des plats sur page-rest */

@mixin shadow-background {
  box-shadow: 0px 2px 13px -7px #000, 0px 3px 14px -3px rgba(229, 229, 229, 0);
}

/* Mixin pour reset les margins top et bott, notament autours des titres */ 

@mixin reset-title-space {
  margin-top: 0px;
  margin-bottom: 0px;
}