/* variables pour la couleur */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2d0; /*backcolor nouveau // boutonp2 // bordureentree*/
$location-color: #eaeaea;
$reservez-color: #f6f6f6; /*reservez // carte p2*/
$menu-color: #f5f5f5;
$nouveau-color: #008766;
$footer-color: #353535;
$functioning-icon-color: #7e7e7e; 

/* variables pour les paddings/margin */
$sideways-light-space: 5%;
$section-medium-space: 40px;
$section-light-space: 20px;
$submenu-smaller-space: 15px;

/* Breakpoints */
$tablet: 768px;
$desktop: 991px;

$breakpoints: (
  'tablet':  767px,
  'desktop': 992px,
) !default;