.footer {
    padding-left: $sideways-light-space;
    padding-right: $sideways-light-space;
    background-color: $footer-color;
    padding-bottom: $section-medium-space;
    a {
        color: white;
    }

    &__logo {
        padding-top: $section-light-space;
        padding-bottom: $section-light-space;

        @include respond-to('tablet') {
            text-align: center;
            padding-top: $section-medium-space;
            padding-bottom: $section-medium-space;
        }
    }

    &__links {
        padding-left: 0px; 
        margin-top: 0px;
        margin-bottom: 0px;  
        
        @include respond-to('tablet') {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &__list {
        padding-bottom: 10px;

    }

    &__i {
        padding-right: 10px;
    }

    i.fas.fa-hands-helping {
        font-size: 11px;
    }
}