.footer {
    padding-left: $sideways-light-space;
    padding-right: $sideways-light-space;
    background-color: $footer-color;
    a {
        color: white;
    }

    &__links {
        padding-left: 0px;    
    }
}